<div class="container">
  <div class="title">
    <div>I GOT THE</div>
    <div><span class="skills text-gradient">SKILLS</span> &#38; EXPERTISE</div>
    <div
      class="line-grad spacer-out-top-xxs"
      style="align-self: self-end"
    ></div>
  </div>
  <div class="description">
    <p>
      I mostly work on websites, logos, print stuffs and UI design. You can see
      what I have done for my clients. Lorem ipsum dolor sit amet consectetuer.
      You can see what I have done for my clients.I mostly work on websites,
      logos, print stuffs and UI design. You can see what I have done for my
      clients. Lorem ipsum dolor sit amet consectetuer.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna
      vel velit dignissim luctus eu in urna. Integer sed magna vel velit
      dignissim luctus eu in urna.
    </p>
  </div>
</div>
