<div class="container">
  <app-title>
    <ng-container ngProjectAs="top-title">IF YOU HAVE</ng-container>
    <ng-container ngProjectAs="gradient">ANY QUESTIONS</ng-container>
    <ng-container ngProjectAs="no-gradient">ASK ME</ng-container>
  </app-title>
  <app-description>
    <ng-container ngProjectAs="para-1">
      Want to say hello? Want to know more about me? Give me a call or drop me
      an email and i will get back to you as soon as i can.
    </ng-container>
  </app-description>
</div>
