<div class="container">
  <div class="grid-item item-1">
    <div class="title">Experience</div>
    <div class="subtitle-1">MY EXPERIENCE</div>
  </div>
  <div class="grid-item item-2">
    <div class="title">Dec, 2012 - present</div>
    <div class="subtitle-2">LEAD ENGINEER</div>
    <div class="hint">At OpenText</div>
  </div>
  <div class="grid-item item-3">
    <div class="title">Feb, 2010 - Dec, 2012</div>
    <div class="subtitle-2">LEAD ENGINEER</div>
    <div class="hint">At Yahoo(From HCL)</div>
  </div>
  <div class="grid-item item-4">
    <div class="title">Feb, 2010 - Dec, 2012</div>
    <div class="subtitle-2">LEAD ENGINEER</div>
    <div class="hint">As Freelancer</div>
  </div>
</div>
