.description {
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
}

/* Mobile Devices (Phones) - Portrait Mode*/
@media only screen and (max-width: 480px) {
  .description {
    font-size: 18px;
  }
}
