<div class="container">
  <app-title>
    <ng-container ngProjectAs="top-title">I GOT THE</ng-container>
    <ng-container ngProjectAs="gradient">SKILLS</ng-container>
    <ng-container ngProjectAs="no-gradient">EXPERTISE</ng-container>
  </app-title>
  <app-description>
    <ng-container ngProjectAs="para-1">
      I mostly work on websites, logos, print stuffs and UI design. You can see
      what I have done for my clients. Lorem ipsum dolor sit amet consectetuer.
      You can see what I have done for my clients.I mostly work on websites,
      logos, print stuffs and UI design. You can see what I have done for my
      clients. Lorem ipsum dolor sit amet consectetuer.
    </ng-container>
    <ng-container ngProjectAs="para-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna
      vel velit dignissim luctus eu in urna. Integer sed magna vel velit
      dignissim luctus eu in urna.
    </ng-container>
  </app-description>
</div>
