<div class="container">
  <app-title>
    <ng-container ngProjectAs="top-title">I GOT THE</ng-container>
    <ng-container ngProjectAs="gradient">SKILLS&nbsp;</ng-container>
    <ng-container ngProjectAs="no-gradient">&&nbsp;EXPERTISE</ng-container>
  </app-title>
  <app-description>
    <ng-container ngProjectAs="para-1">
      With a strong foundation in front-end development, I bring a unique
      combination of technical expertise, creativity, and a user-centric
      approach to creating visually stunning and highly functional web
      applications. My proficiency in HTML, CSS, SCSS and JavaScript, along with
      frameworks such as Angular and React, enables me to build responsive and
      interactive user interfaces that deliver seamless user experiences.
    </ng-container>
    <!-- <ng-container ngProjectAs="para-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna
      vel velit dignissim luctus eu in urna. Integer sed magna vel velit
      dignissim luctus eu in urna.
    </ng-container> -->
  </app-description>
</div>
