html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */

// meterial library
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// owl-carousel library
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
//Globals
@import "globals/mixins";

//Patterns
@import "patterns/icons";
@import "patterns/spacers";
@import "patterns/utility";
