html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

//Globals
@import "globals/mixins";

//Patterns
@import "patterns/icons";
@import "patterns/spacers";
@import "patterns/utility";
