<div class="grid-container">
  <div class="item1 container">
    <div class="container-title">
      <p class="container-title-heading">MY NAME</p>
      <p>
        <span class="container-title-heading">IS&nbsp;</span>GOPI VEERAMANI...
      </p>
    </div>
  </div>
  <div class="item2 container">
    <div class="container-subtitle">
      <p>Lead Engineer Development &#38; UI</p>
      <p><span class="container-subtitle-based">based in&nbsp;</span>India</p>
    </div>
  </div>
  <div class="item3 container">
    <div class="container-download">
      <button mat-fab extended color="primary">
        Download CV
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>
  <div class="item4 container">
    <div class="container contact" style="flex-grow: 4">
      <mat-icon size="32px" style="margin-right: 8px">smartphone</mat-icon>
      <span class="italic-string">+91 9886717241</span>
      <div style="margin: 0 50px 0 50px"></div>
      <mat-icon size="32px" style="margin-right: 8px">mail</mat-icon>
      <span class="italic-string">gopi.veeramani&#64;gmail.com</span>
    </div>
  </div>
  <div class="item5">
    <img
      src="../../assets/images/Gopi.jpg"
      alt="Trulli"
      width="100%"
      height="100%"
    />
  </div>
</div>
