@import "../patterns/utility";
// Change the Meterail icon size
@mixin md-icons-size($size: 24px) {
  font-size: $size;
  height: $size !important;
  width: $size !important;
}

// circle with white background and dynamic height/width
@mixin circle($height, $width) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  width: $width;
  border-radius: 50%;
  background-color: #e8eaeb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@mixin text-grad($font, $line-height) {
  @extend .linear-gradient;
  color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: $font;
  line-height: $line-height;
}
