<div class="grid-container">
  <div class="item1">
    <div class="top-title">
      Recent <strong class="works">works</strong> &amp; projects
    </div>
    <div class="line-grad"></div>
  </div>
  <div class="item2">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">Change Guardian</div>
    </div>
    <div class="img-container">
      <img src="assets/images/cg.png" alt="Change Guardian" />
    </div>
  </div>
  <div class="item3">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">Agent Management</div>
    </div>
    <div class="img-container">
      <img src="assets/images/ams.png" alt="Agent Management" />
    </div>
  </div>
  <div class="item4">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">
        Active Directory Administrator
      </div>
    </div>
    <div class="img-container">
      <img src="assets/images/ada.png" alt="Active Directory Administrator" />
    </div>
  </div>
  <div class="item5">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">
        Directory and Resource Administrator
      </div>
    </div>
    <div class="img-container">
      <img
        src="assets/images/dra.png"
        alt="Directory and Resource Administrator"
      />
    </div>
  </div>
</div>
