<div class="grid-container">
  <div class="item1">
    <div class="top-title">
      Recent <strong class="works">works</strong> &amp; projects
    </div>
    <div class="line-grad"></div>
  </div>
  <div class="item2">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">Change Guardian</div>
    </div>
    <!-- <img
      class="image"
      src="../../assets/images/change-guardian.jpg"
      alt="Change Guardian"
    /> -->
    <div class="img-container">
      <img
        src="https://images.freeimages.com/images/large-previews/8ac/high-mountains-1378214.jpg"
        alt="Change Guardian"
      />
    </div>
  </div>
  <div class="item3">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">Agent Management</div>
    </div>
    <!-- <img
      class="image"
      src="../../assets/images/change-guardian.jpg"
      alt="Change Guardian"
    /> -->
    <div class="img-container">
      <img
        src="https://images.freeimages.com/images/large-previews/8ac/high-mountains-1378214.jpg"
        alt="Change Guardian"
      />
    </div>
  </div>
  <div class="item4">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">
        Active Directory Administrator
      </div>
    </div>
    <!-- <img
      class="image"
      src="../../assets/images/change-guardian.jpg"
      alt="Change Guardian"
    /> -->
    <div class="img-container">
      <img
        src="https://images.freeimages.com/images/large-previews/8ac/high-mountains-1378214.jpg"
        alt="Change Guardian"
      />
    </div>
  </div>
  <div class="item5">
    <div class="flex-base">
      <div class="title">2019-2024</div>
      <div class="main-title spacer-out-top-m">Policy Editor</div>
    </div>
    <!-- <img
      class="image"
      src="../../assets/images/change-guardian.jpg"
      alt="Change Guardian"
    /> -->
    <div class="img-container">
      <img
        src="https://images.freeimages.com/images/large-previews/8ac/high-mountains-1378214.jpg"
        alt="Change Guardian"
      />
    </div>
  </div>
</div>
